@import "tailwindcss";

:root {
    --primary-color: #e6a749;
}

.primaryclr {
    color: var(--primary-color);
}

.primarybg {
    background-color: var(--primary-color);
}

.primaryfill {
    fill: var(--primary-color);
}

.darkbg {
    --dark-bg: #171817;
    background-color: var(--dark-bg);
}

.primaryhover:hover {
    color: var(--text-color);
}